*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: hsl(233, 47%, 7%);
    height: 100vh;
    display: flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
    /* font-weight: 400; */
}

section {
    width: 70%;
    background-color: hsl(244, 38%, 16%);
    margin: auto;
    /* height: 60%; */
    border-radius: 15px;
}

.container {
    display: flex;
    height: 500px;
    box-sizing: border-box;
}

.left {
    width: 55%;
    color: white;
    padding: 35px 100px;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    /* padding-right: 30px; */
}

.description {
    font-weight: 400;
    font-size: 1.2rem;
    max-width: 85%;
    line-height: 1.85rem;
    color: hsla(0, 0%, 100%, 0.6);
}

.right {
    width: 45%;
    background-repeat: no-repeat;
    background-size: cover;
}

.image {
    width: 100%;
    height: 100%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

span {
    color:hsl(277, 64%, 61%)
}

.other-info {
    display: flex;
    padding-top: 1rem;
}

.card {
    margin: 0 30px;
    text-transform: uppercase;
    width: 30%;
}

.card:nth-of-type(1) {
    margin-left: 0;
}

.top-text {
    color: white;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 0;
}

.bot-text {
    font-size: 15px;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.6);
}

@media (max-width: 576px) {
    .container {
        display: block;
    }
}